<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{#str}} completion_status, mod_ojt {{/str}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {{#completion_status}}
            <li><span class="ojt-update-completion-status"
                      data-toggle="modal" 
                      data-target="#ojt-confirm-completion-status-modal"  
                      data-completion-status-value="{{key}}"
                      data-completion-status-text="{{text}}">{{value}}</span></li>
        {{/completion_status}}
    </ul>
    <div class="ojt-current-completion-status">
        {{#str}} current_completion_status, mod_ojt {{/str}}
        <span id="ojt-completion-status" class="label {{completionclass}}">{{current_completion_status}}</span>
    </div>
</div>
<div id="ojt-confirmation-loading"><i class="fa fa-spinner fa-spin"></i></div>

{{> mod_ojt/confirmation_popup}}