<div id="ojt-confirm-completion-status-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{#str}} confirm_modal_title, mod_ojt {{/str}}</h4>
        </div>
        <div class="modal-body">
            {{#str}} confirm_modal_body, mod_ojt {{/str}}
            <form id="ojt-update-ojt-completion-status-form">
                <input type="hidden" name="userid" value="{{userid}}">
                <input type="hidden" name="ojtid" value="{{ojtid}}">
                <input type="hidden" name="modifiedby" value="{{modifiedby}}">
                <input id="ojt-completionstatus" type="hidden" name="completionstatus" value="">
            </form>
        </div>
        <div class="modal-footer">
            <button id="ojt-confirm-completion-status" type="button" class="btn btn-success" data-dismiss="modal">{{#str}} confirm, mod_ojt {{/str}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}} cancel, mod_ojt {{/str}}</button>
        </div>
    </div>

  </div>
</div>
