.config-mod-ojt-topic-heading,
.mod-ojt-topic-heading {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

#mod-ojt-user-ojt {
    padding-bottom: 2em;
}

.mod-ojt-topic-heading {
    padding-left: 0.8em;
}


.mod-ojt-topic-heading.collapsed {
    background: url([[pix:moodle|t/collapsed]]) no-repeat left center;
}

.mod-ojt-topic-heading.expanded {
    background: url([[pix:moodle|t/expanded]]) no-repeat left center;
}

.mod-ojt-topic-addbtn {
    float: right;
}

#config-mod-ojt-topics {
    padding-bottom: 2em;
}

.config-mod-ojt-topic-items {
    margin-left: 1em;
    font-size: 1.2em;
}

.config-mod-ojt-topic-item,
#mod-ojt-user-ojt .mod-ojt-topic-item {
    padding: 0.3em;
}

#mod-ojt-user-ojt .mod-ojt-topic-items {
    font-size: 1.2em;
    display: table;
}

#mod-ojt-user-ojt .mod-ojt-modifiedstr,
#mod-ojt-user-ojt .mod-ojt-witnessedstr,
#mod-ojt-user-ojt .mod-ojt-topic-modifiedstr {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff {
    padding-left: 1em;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff img {
    padding-left: 0.4em;
}

img.ojt-topic-completion-status {
    vertical-align: baseline;
}

#mod-ojt-user-ojt textarea.ojt-completion-comment {
    margin-left: 0.4em;
    width: 90%;
}

#ojt-eval-icon-templates {
    display: none;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c0 {
    width: 40%;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c1 {
    width: 60%;
}

.evalprint {
    float: right;
}

#mod-ojt-user-ojt .ojt-completion-comment-print {
    display: none;
}

.user-ojt-comments-warning {
    display: none;
}

.mod-ojt-evalstudents-btn,
.mod-ojt-evalself-btn {
    float: right;
}

.mod-ojt-topicitem-files {
    font-size: 0.8em;
}

/**
 * MPIHAS-384
 */
#config-mod-ojt-topics .config-mod-ojt-topic-items.ui-sortable .config-mod-ojt-topic-item.ui-sortable-handle {
    cursor: n-resize;
    border: 1px dashed #d2d2d2;
    margin-bottom: 4px;
} 
#config-mod-ojt-topics .config-mod-ojt-topic-items.ui-sortable .config-mod-ojt-topic-item.ui-sortable-handle.ui-sortable-helper {
    border-style: solid;
    background-color: #d2d2d2;
}
.config-mod-ojt-topic-heading {
    margin-bottom: 0.6em;
}
.sortbutton-container {
    text-align: right;
}
.ojt-sort-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}
.ojt-modal-overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
}
#ojt-modal {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    margin: auto;
    width: 600px;
    top: 10%;
}
.ojt-modal-header {
    padding: 15px;
}
.ojt-modal-body {
    padding: 15px;
    min-height: 250px;
}
.ojt-modal-footer {
    text-align: right;
    background-color: #f1f1f1;
    padding: 15px;
}
.ojt-modal-header h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
ul.ojt-sortable-topics {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ul.ojt-sortable-topics li {
    border: 1px dashed #d2d2d2;
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: n-resize;
}
ul.ojt-sortable-topics li.ui-sortable-handle.ui-sortable-helper {
    border-style: solid;
    background-color: #d2d2d2;
}
/**
 * printing styles
 */

/**
 * HWRHAS-159
 */
.ojt-update-completion-status {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.ojt-update-completion-status:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.ojt-current-completion-status {
    display: inline;
    margin-left: 35px;
}
.ojt-current-completion-status .label {
    margin-left: 10px;
}
.ojt-current-completion-status .label.ojt-incomplete {
    background-color: #6c757d;
}
.ojt-current-completion-status .label.ojt-complete {
    background-color: #28a745;
}
.ojt-current-completion-status .label.ojt-failed {
    background-color: #dc3545;
}
#ojt-confirmation-loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}
#ojt-confirmation-loading .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 28px;
}
/* Begin HWRHAS-159*/
.modal-backdrop {
    z-index: 3025;
}
#ojt-confirm-completion-status-modal {
    z-index: 3050;
}
#ojt-confirm-completion-status-modal .modal-dialog {
    width: 600px !important;
    margin: 30px auto;
    display: block;
} 
/* End HWRHAS-159*/
/* Beging HWRHAS-161*/
.ojtaddtopic-dropdown {
    display: inline;
    margin-left: 10px;;
}
.dropdown.ojtaddtopic-dropdown .caret {
    margin-left: 10px;
}
/* END HWRHAS-161*/
/* Begin HWRHAS-181 */
.mod-ojt-topic input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

/* End HWRHAS-181 */
@media print {
    @page {
        margin: 25mm !important;
    }

    #block-region-side-pre,
    #block-region-side-post,
    #page-header,
    #page-footer,
    .evalprint,
    .logininfo,
    .navbar,
    textarea.ojt-completion-comment,
    .user-ojt-comments-warning,
    #totaramenu {
        display: none !important;
    }

    #region-main {
        width: 100% !important;
        padding: 0;
    }

    #mod-ojt-user-ojt .ojt-completion-comment-print {
        display: block;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-heading {
        padding-left: 0;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-items {
        display: table;
    }
    #mod-ojt-user-ojt .mod-ojt-topic {
        page-break-inside : avoid;
    }
}

